# Files in tftp-root directory for PXE server
# that should be ignored (mostly binary files)
*.com
*.bin
*.swp
*.img
*.c32
*.gz
*.exe
*.efi
*.0
*.e64
*.png
*.pf2
memdisk
# PXE image binaries (kernel, initrd)
*.img
vmlinuz*
linux
initrd*
# Ignore scripts for registering a system with RHSM
kickstart-pxe/*.rhsm
