# rhel72-UEFI-KVM-single.cfg
# RHEL 7.2 kickstart config file for UEFI VM on KVM hypervisor
# Uses one virtio disk, /dev/vda (15 GB)

#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
#repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
#repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
#cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --disable
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
#lang ko_KR.UTF-8
lang en_US.UTF-8
# reboot once installation is complete
reboot
# Network information
network  --hostname=rhmirror

clearpart --initlabel --drives=vda --all
zerombr

part /boot       --fstype=ext4    --ondisk=vda  --size=256
part /boot/efi   --fstype=vfat    --ondisk=vda  --size=256
part pv.768      --fstype="lvmpv" --ondisk=vda  --grow
volgroup rhel    --pesize=4096 pv.768
logvol swap      --fstype="swap"  --name=swap   --size=1024 --vgname=rhel
logvol /         --fstype="xfs"   --name=root   --size=1    --vgname=rhel --grow
logvol /home     --fstype="ext4"  --name=home   --size=1024 --vgname=rhel


# Root password
rootpw --iscrypted $6$paoeX.DxI91okeL1$nivFvsM8XC.0zmqMp0YDsFWE326bP2x9T3Fs4w8ygHx0XnmAolSWrg3I6mQy/Uyvvty8oEWRiEUBCMA6aC3g/0
# System timezone
timezone Asia/Seoul
# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=vda

%packages --ignoremissing
@base
@core
@network-tools
@gnome-desktop-environment
kexec-tools
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%post

# Create local repo
/usr/bin/cat << EOF > /etc/yum.repos.d/local.repo
[InstallMedia]
name=RHEL-7.2 Server.x86_64 DVD
enabled=1
baseurl=file:///media/
gpgkey=file:///media/RPM-GPG-KEY-redhat-release
[HighAvailability]
name=HighAvailability
baseurl=file:///media/addons/HighAvailability
enabled=1
gpgkey=file:///media/RPM-GPG-KEY-redhat-release
[ResilientStorage]
name=ResilientStorage
baseurl=file:///media/addons/ResilientStorage
enabled=1
gpgkey=file:///media/RPM-GPG-KEY-redhat-release

EOF

# Install EPEL 7 repository
wget http://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-8.noarch.rpm
rpm -ivh epel-release-7-8.noarch.rpm

# Install RDO repository
#yum install -y https://www.rdoproject.org/repos/rdo-release.rpm
# Refresh repo list

yum update -y
#yum install -y openstack-packstack
yum install -y darkhttpd ncdu

%end
