#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use network installation
#url --url="http://192.168.95.97/foo"
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Use graphical install
graphical
# Firewall configuration
firewall --disabled


# Network information
network  --bootproto=dhcp --device=eno1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno2 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno3 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno49 --ipv6=auto --activate
network  --bootproto=dhcp --device=eno4 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno50 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno51 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno52 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens1f0 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens1f1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens2f0 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens2f1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens4f0 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens4f1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens5f0 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens5f1 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$sUJsf9QbP9EGJRbn$CIEywn9TrTafGLVjk4DY2uurguVYgkGd0JgVF5EsmnSggUD9ZiBrUmgcurOmzkUmAUTd.4m6hXLcFGlFMi20n/
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Seoul --isUtc
# Partition clearing information
clearpart --all --initlabel --drives=sda
zerombr
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Disk partitioning information
part /boot --fstype="ext4" --ondisk=sda --size=512
part / --fstype="ext4" --ondisk=sda --size=285556

%packages --ignoremissing
@base
@core
@file-server
chrony
ftp
parted
telnet
telnet-server
vsftpd
xinetd
%end

%post
systemctl enable vsftpd
# Create mbr partition table on /dev/sdb
parted --script /dev/sdb -- mklabel msdos
# Create a primary partition on /dev/sdb
parted --script /dev/sdb -- mkpart primary 0% 100%
mkfs.ext4 /dev/sdb1
# disable fsck on /dev/sdb1
tune2fs -c -1 -i 0 /dev/sdb1

%end

