#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
#repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
#repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
#cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=kr --xlayouts='kr'
# System language
lang en_US.UTF-8
#lang ko_KR.UTF-8

# Network information
network  --bootproto=dhcp --device=eno1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno2 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno3 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno4 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens2f0 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens2f1 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain

clearpart --initlabel --drives=sda --all
zerombr

part /boot       --fstype=ext4    --ondisk=sda  --size=256
part /boot/efi   --fstype=vfat    --ondisk=sda  --size=256
part pv.768      --fstype="lvmpv" --ondisk=sda  --grow
volgroup rhel    --pesize=4096 pv.768
logvol swap      --fstype="swap"  --name=swap   --size=1024  --vgname=rhel
logvol /         --fstype="xfs"   --name=root   --size=10240 --vgname=rhel
logvol /home     --fstype="ext4"  --name=home   --size=4096  --vgname=rhel
logvol /var      --fstype="ext4"  --name=var    --grow       --vgname=rhel --size=1

# Root password
rootpw --iscrypted $6$D2nbNGuEIwUfF9wC$z8pdhLVcG2xrp5kzkaQrwnE6P.zGBveV201o.N81QrcYYS5j4yuF2EK1i/GSX79Ts1mzFmNfNAJq.YkypD1ZL.
# System timezone
timezone Asia/Seoul
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

%packages --ignoremissing
@base
@core
@network-tools
kexec-tools
vim-enhanced
ncdu
wget
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%post

# Create local repo
/usr/bin/cat << EOF > /etc/yum.repos.d/local.repo
[InstallMedia]
name=RHEL-7.2 Server.x86_64 DVD
enabled=1
baseurl=file:///media/
gpgkey=file:///media/RPM-GPG-KEY-redhat-release
[HighAvailability]
name=HighAvailability
baseurl=file:///media/addons/HighAvailability
enabled=1
gpgkey=file:///media/RPM-GPG-KEY-redhat-release
[ResilientStorage]
name=ResilientStorage
baseurl=file:///media/addons/ResilientStorage
enabled=1
gpgkey=file:///media/RPM-GPG-KEY-redhat-release

EOF

# Install EPEL 7 repository from mirror server on local network
wget http://192.168.95.239/epel/e/epel-release-7-8.noarch.rpm
yum install -y epel-release-7-8.noarch.rpm

# edit epel.repo to point to mirror server on local network
/usr/bin/cat << EOF > /etc/yum.repos.d/epel.repo
[epel]
name=Extra Packages for Enterprise Linux 7 - $basearch
#baseurl=http://download.fedoraproject.org/pub/epel/7/$basearch
baseurl=http://192.168.95.239/epel
failovermethod=priority
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7

EOF

# Install RDO repository from mirror server on local network
wget http://192.168.95.239/openstack-mitaka/rdo-release-mitaka-5.noarch.rpm
yum install -y rdo-release-mitaka-5.noarch.rpm

# Install dependency for openstack-packstack
wget http://192.168.95.239/rhel-7-server-optional-rpms/Packages/python-docutils-0.11-0.2.20130715svn7687.el7.noarch.rpm
yum install -y python-docutils-0.11-0.2.20130715svn7687.el7.noarch.rpm

# Install openstack-packstack
yum install -y openstack-packstack

# Install wx-related pkgs from EPEL (needed for erlang-wx)
yum install -y wxBase wxGTK-devel erlang-erts erlang-kernel
yum install -y erlang-stdlib

%end